/* src/index.css */
@import 'tailwindcss';

@font-face {
  font-family: 'Spicy Rice';
  src: url('/fonts/SpicyRice-Regular.woff2') format('woff2'),
       url('/fonts/SpicyRice-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Added this here to bypass tailwing.config, it basically fetches the custom font right from index.css */
.font-custom-spicy {
  font-family: 'Spicy Rice', cursive;
}